/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
}

.p-menubar {
    padding: 0.3rem 0.8rem !important;
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #dee2e6;
    border-radius: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.p-sidebar .p-sidebar-content {
    padding: 1rem !important;
}